  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title" ng-show="modalStatus == 'add'">New Asset</h1>
      <h1 class="title" ng-show="modalStatus == 'update'">Edit Asset</h1>
      <button class="button button-clear button-primary" ng-click="closeModalAsset()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">

      <div class="row">
      	<div class="col">
		  <label class="item item-input">
		    <div class="input-label">
		      Month
		    </div>
		    <select ng-model="modalData.month">
		      <option ng-repeat="month in months" ng-selected="month == modalData.month">{{month}}</option>
		    </select>
		  </label>
		</div>
		<div class="col">
		  <label class="item item-input">
		    <div class="input-label">
		      Year
		    </div>
		    <select ng-model="modalData.year">
		      <option ng-repeat="year in years" ng-selected="year == modalData.year">{{year}}</option>
		    </select>
		  </label>
		</div>
	  </div>

	  <label class="item item-input item-select">
	    <div class="input-label">
	      Category
	    </div>
	    <select ng-model="modalData.type">
	      <option>Bank Saving</option>
	      <option>Cash</option>
	      <option>Stock</option>
	      <option>Other</option>
	    </select>
	  </label>

	  <label class="item item-input item-select" ng-show="modalData.type == 'Bank Saving'">
	    <div class="input-label">
	      Bank Name
	    </div>
	    <select ng-model="modalData.bank">
	      <option>POSB</option>
	      <option>DBS</option>
	      <option>OCBC</option>
	      <option>UOB</option>
	      <option>CITI</option>
	      <option>STANDARD CHARTERED</option>
	      <option>MAY</option>
	    </select>
	  </label>

        <label class="item item-input" ng-show="modalData.type == 'Bank Saving'">
          <span class="input-label">Account</span>
          <input ng-model="modalData.account" type="text" style="text-align: right;">
        </label>

        <label class="item item-input" ng-show="modalData.type == 'Stock'">
          <span class="input-label">Symbol</span>
          <input ng-model="modalData.symbol" type="text" style="text-align: right;">
        </label>

        <label class="item item-input" ng-show="modalData.type == 'Other'">
          <span class="input-label">Remark</span>
          <input ng-model="modalData.remark" type="text" style="text-align: right;">
        </label>

        <label class="item item-input" ng-show="modalData.type != undefined">
          <span class="input-label">Amount</span>
          <input ng-model="modalData.amount" type="number" style="text-align: right;">
        </label>

	  <label class="item item-input item-select" ng-show="modalData.type != 'Stock'">
	    <div class="input-label">
	      Currency
	    </div>
	    <select ng-model="modalData.currency">
	      <option>SGD</option>
	      <option>CNY</option>
	      <option>USD</option>
	    </select>
	  </label>

        <button class="button button-full button-positive" ng-click="addAsset()" ng-show="modalStatus == 'add'">Add</button>
        <button class="button button-full button-positive" ng-click="updateAsset()" ng-show="modalStatus == 'update'">Update</button>
      </div>

    </ion-content>
  </ion-modal-view>