<ion-view view-title="My">
  <ion-nav-buttons side="left" ng-show="false">
    <button class="button button-icon button-clear ion-earth" ng-click="translate()"></button>
  </ion-nav-buttons>  
  <ion-nav-buttons side="right" ng-show="false">
    <button class="button button-icon button-clear ion-plus-circled" ng-click="openModalAsset()"></button>
  </ion-nav-buttons>
  <ion-content class="padding">

      <div class="row">
      	<div class="col">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Month
		    </div>
		    <select ng-model="modalData.month">
		      <option ng-repeat="month in months" ng-selected="month == modalData.month">{{month}}</option>
		    </select>
		  </label>
		</div>
		<div class="col">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Year
		    </div>
		    <select ng-model="modalData.year">
		      <option ng-repeat="year in years" ng-selected="year == modalData.year">{{year}}</option>
		    </select>
		  </label>
		</div>
	  </div>

	<h2 class="piechartheader" align="center">{{total}}</h2>
    <div id="donutchart" style="width: 400px; height: 400px;"></div>
  </ion-content>
</ion-view>
