<ion-view view-title="My Asset">
  <ion-nav-buttons side="left" ng-show="false">
    <button class="button button-icon button-clear ion-earth" ng-click="translate()"></button>
  </ion-nav-buttons>  
  <ion-nav-buttons side="right" ng-show="false">
    <button class="button button-icon button-clear fa fa-line-chart" ng-show="chartStatus=='pie'" ng-click="switchChart()"></button>
    <button class="button button-icon button-clear fa fa-pie-chart" ng-show="chartStatus=='line'" ng-click="switchChart()"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
  	<div ng-show="chartStatus=='pie'" ng-swipe-left="doSwipeLeft()" ng-swipe-right="doSwipeRight()">

      <div class="row">
      	<div class="col">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Month
		    </div>
		    <select ng-model="currentDate.month" ng-change="doCalculate()">
		      <option ng-repeat="month in months" ng-selected="month == currentDate.month">{{month}}</option>
		    </select>
		  </label>
		</div>
		<div class="col">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Year
		    </div>
		    <select ng-model="currentDate.year" ng-change="doCalculate()">
		      <option ng-repeat="year in years" ng-selected="year == currentDate.year">{{year}}</option>
		    </select>
		  </label>
		</div>
	  </div>

	<h2 align="center" style="margin-top: 0;">{{base}}: {{total | number:2}}</h2>
    <div id="chart" style="height: 400px; width: 100%; margin: auto; padding: 0px"></div>
    
    </div>
  </ion-content>
</ion-view>
